/*/////////////////////index///////////////////////////////////*/
body {
  font-family: Arial, Helvetica, sans-serif;
}

.header{
  color: rgba(127, 129, 119, 0.493);
  overflow: hidden;
  background-color: rgb(155, 218, 255);
  text-align: center;
  display:flex;
}
.header a {
  
  border: none;
  color: white;
  padding: 15px 32px;
  
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 2px 2px;
 
  cursor: pointer;
  background-color: #4CAF50;

}
.navbar {
  overflow: hidden;
  background-color: #333;
  
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}
.header{
  color: rgb(0, 0, 0);
  overflow: hidden;
  background-color: rgb(255, 255, 255);

}
/*/////////////////////login.html///////////////////////////////////*/
fieldset {
  background-color: #eeeeee;
  width: fit-content;
  height: fit-content;
  margin-left: 800px;
  margin-top: 250px;

}

legend {
  background-color: gray;
  color: white;
  padding: 5px 10px;
}

.inputuser{
  margin: 5px;
}
.inputpassword{
  margin: 5px;padding-left: 31px;
}
.Login{
  margin-left: 120px;

/*///////////////////////////////index////////////////////////////////////////*/
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #000;
}
.navbar {
  display: flex;
  justify-content: center;
  overflow: hidden;
  background-color: #333;
}
.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px; 
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}
.header img{
  max-width: 100%;
  height: auto;
  color: rgba(127, 129, 119, 0.493);
  overflow: hidden;
}
.header .text{
  position:absolute; 
  top:5%; 
  left:85%; 
}
.text img:hover{
  background: #fff;
  color: #000;
}
.jumbotron{
  max-width: 100%;
  height: auto;
  font-family:'Montserrat', sans-serif;
  padding: 1% 100% 100% 5%;
  text-align: right;
  color: #fff;
  position: relative;
}
.button{
  display: inline-block;
  border: 2px solid #fff;
  padding: 10px 20px;
  color: #fff;
  text-decoration: none;
  transition: 0.3s;
}
.button:hover{
  background: #fff;
  color: #000;
}
/*//////////////////////////////std_id.php////////////////////////////////////////*/
.std_user{
  color: rgba(127, 129, 119, 0.493);
  overflow: hidden;
  background-color: rgb(155, 218, 255);
  text-align: center;
  display:flex;
  
}
fieldset {
  background-color: #eeeeee;
  width: fit-content;
  height: fit-content;
  margin-left: 800px;
  margin-top: 250px;

}